@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color: #e65805d7;
  --main-background-color: #f5f3f3;
  --highlight-color: #3d3d3d;
}

html,
body,
#root {
  width: 100%;
  font-family: "Poppins", sans-serif;
}


